body {
    background-color: #ccc;
    padding: 0;
    margin: 0;
}
/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    min-height: 42px;
    background-color: #EF5122;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}


/* Form layout */
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form__row {
    display: flex;
    padding: 8px 0;
}

.form__label {
    min-width:90px;
}

.form__input {
    flex-grow: 1;
}

/* Column layout  */
.column-layout {
    display: flex;
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
}

.column-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
    order: 1;
}

.sidebar-two {
    flex: 1;
    order: 1;

}

.main-column {
    flex: 3;
    order: 2;

}

/* Feature layout  */
.feature-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 36px;
}

/* viết media cho PC, Tablet  */
@media (min-width: 740px) {
    .feature-layout {
        flex-direction: row;
    }
}

.feature-item {
    flex-basis: 30%;
    padding: 12px 16px;
    margin-top: 16px;
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 150);
}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 225);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 50);
}

/* Wrap layout: co nhỏ màn hình thì cần xuống dong   */
.wrap-layout {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    background-color: #fff;
    margin-top: 36px;
    padding: 12px 0 32px 0;
}

.wrap-layout__item {
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;
}

/* Center layout */
.center-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 227, 170);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
}

.center-layout__item {
    font-size: 42px;
    font-weight: 700;
    /* margin: auto; cách khác */
}

/* Chart layout  */
.chart-layout {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
}

/* CSS inline đc ưu tiên hơn nên chạy trc (nói cách khác là CSS Variable có scope theo DOM, inline style nằm trên chính element nên external CSS đọc đc biến từ element đó) */
.chart-layout__item {
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease 1s;
}
 /* viết animation để thể hiện item lớn lên  */
 @keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: calc(var(--percent));
    }
 }

 /* End  */
 .the-end {
    display: flex;
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
 }

 .the-end__first {
    flex: 1;
    padding: 4px 16px;
    background-color: #fff;
 }

 .the-end__second {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
 }

 .the-end__second-one {
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(227, 192, 170);
 }

  .the-end__second-two {
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(192, 210, 150);
 }